In [177]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import seaborn as sns
import scipy
from scipy.stats import pearsonr
import sklearn

from sklearn import datasets, linear_model
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

all_df=pd.read_csv('Daily_Demand_Forecasting_Orders.csv', index_col=False)
all_df.head()

,"Week of the month (first week,second,third,fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
0,1,4,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [178]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 13 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Week of the month (first week,second,third,fourth or fifth week  60 non-null     int64
 1   Day of the week (Monday to Friday)                               60 non-null     int64
 2   Non-urgent order                                                 60 non-null     float64
 3   Urgent order                                                     60 non-null     float64
 4   Order type A                                                     60 non-null     float64
 5   Order type B                                                     60 non-null     float64
 6   Order type C                                                     60 non-null     float64
 7   Fiscal sector orders                                             60 non-null     float64
 8   Orders from the traffic controller sector                        60 non-null     int64
 9   Banking orders (1)                                               60 non-null     int64
 10  Banking orders (2)                                               60 non-null     int64
 11  Banking orders (3)                                               60 non-null     int64
 12  Target (Total orders)                                            60 non-null     float64
dtypes: float64(7), int64(6)
memory usage: 6.2 KB

In [179]:
all_df.describe()

,"Week of the month (first week,second,third,fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,3.016667,4.033333,172.554933,118.920850,52.112217,109.229850,139.531250,77.396133,44504.350000,46640.833333,79401.483333,23114.633333,300.873317
std,1.282102,1.401775,69.505788,27.170929,18.829911,50.741388,41.442932,186.502470,12197.905134,45220.736293,40504.420041,13148.039829,89.602041
min,1.000000,2.000000,43.651000,77.371000,21.826000,25.125000,74.372000,0.000000,11992.000000,3452.000000,16411.000000,7679.000000,129.412000
25%,2.000000,3.000000,125.348000,100.888000,39.456250,74.916250,113.632250,1.243250,34994.250000,20130.000000,50680.500000,12609.750000,238.195500
50%,3.000000,4.000000,151.062500,113.114500,47.166500,99.482000,127.990000,7.831500,44312.000000,32527.500000,67181.000000,18011.500000,288.034500
75%,4.000000,5.000000,194.606500,132.108250,58.463750,132.171000,160.107500,20.360750,52111.750000,45118.750000,94787.750000,31047.750000,334.237250
max,5.000000,6.000000,435.304000,223.270000,118.178000,267.342000,302.448000,865.000000,71772.000000,210508.000000,188411.000000,73839.000000,616.453000

In [180]:
print(all_df.columns)

Index(['Week of the month (first week,second,third,fourth or fifth week',
       'Day of the week (Monday to Friday)', 'Non-urgent order',
       'Urgent order', 'Order type A', 'Order type B', 'Order type C',
       'Fiscal sector orders', 'Orders from the traffic controller sector',
       'Banking orders (1)', 'Banking orders (2)', 'Banking orders (3)',
       'Target (Total orders)'],
      dtype='object')

In [181]:
X = all_df.drop('Target (Total orders)', axis=1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Xs = scaler.fit_transform(X)

y = all_df['Target (Total orders)']

In [182]:
from sklearn.model_selection import train_test_split

Xs_train, Xs_test, y_train, y_test = train_test_split(Xs, y, test_size=0.3, random_state=1)

In [183]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

kf = KFold(n_splits=5, shuffle=True, random_state=1)

In [184]:
mlp_regressor = MLPRegressor(hidden_layer_sizes=(50,), max_iter=50000, random_state=1)
mse_scores = cross_val_score(mlp_regressor, Xs, y, cv=kf, scoring='neg_mean_squared_error')
mse_scores = -mse_scores

print(f'Cross-validated Mean Squared Error scores: {mse_scores}')
print(f'Average MSE: {np.mean(mse_scores):.2f}')
print(f'Standard Deviation of MSE: {np.std(mse_scores):.2f}')

Cross-validated Mean Squared Error scores: [5696.38330147 3051.00379757  546.33223881 1058.53553422 2560.94785819]
Average MSE: 2582.64
Standard Deviation of MSE: 1810.23

In [185]:
mlp_regressor = MLPRegressor(hidden_layer_sizes=(100,), max_iter=50000, random_state=1)

mse_scores = cross_val_score(mlp_regressor, Xs, y, cv=kf, scoring='neg_mean_squared_error')
mse_scores = -mse_scores

print(f'Cross-validated Mean Squared Error scores: {mse_scores}')
print(f'Average MSE: {np.mean(mse_scores):.2f}')
print(f'Standard Deviation of MSE: {np.std(mse_scores):.2f}')

Cross-validated Mean Squared Error scores: [4851.44388308 4143.21303014  640.57069357 1073.61551104 2901.87782731]
Average MSE: 2722.14
Standard Deviation of MSE: 1651.44

In [186]:
mlp_regressor = MLPRegressor(hidden_layer_sizes=(150,), max_iter=50000, random_state=1)

mse_scores = cross_val_score(mlp_regressor, Xs, y, cv=kf, scoring='neg_mean_squared_error')
mse_scores = -mse_scores

print(f'Cross-validated Mean Squared Error scores: {mse_scores}')
print(f'Average MSE: {np.mean(mse_scores):.2f}')
print(f'Standard Deviation of MSE: {np.std(mse_scores):.2f}')

Cross-validated Mean Squared Error scores: [6858.47423945 6173.60576726  785.81541284 1145.39542217 2924.94595866]
Average MSE: 3577.65
Standard Deviation of MSE: 2515.51